body {
    max-width: 1000px; /* Максимальная ширина страницы в пикселах */ 
    font-family: 'Caveat', cursive;
    text-align:center;
  }
  h1 {
  font-family: 'Pangolin', cursive;
  /* font-weight: 700; */
  font-size: 70px;
}

pre{
    color: Gray;
    font-weight: lighter;
}
p {
    margin-top: 7em; /* Отступ сверху */
    /*margin-bottom: 10em; /* Отступ снизу */
   }
p.b{
    margin-top: 5em;
}